body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

#title {
    background-color: #ff4c68;
    text-align: left;
}

/* Headings */

.big-heading {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    text-shadow: 1px 1px #15202b;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

.container-fluid {
    /* Order of padding, 3% TOP, 15% Left AND Right; 10% BOTTOM */
    padding: 3% 15% 10%;
}

/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-size: 3rem;
    font-family: 'Ubuntu', sans-serif;
    text-shadow: 1px 1px #15202b;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.25rem;
    font-weight: 300;
}

/* Download Buttons */

.btn {
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.download-button1 {
    margin-right: 2%;
}
/* Title Image */

.rotated-img {
    width: 70%;
    transform: rotate(22deg);
    position: absolute;
    left: 90px;
}

/* Features Section */

#features {
    background-color: #ffffff;
    z-index: 1;
    position: relative;
}

#feature-box {
    padding: 3%;
}

#feat-img {
    color: #ef8172;
    font-size: 3.6rem;
    padding: 1rem;
    transition: 0.4s;
}

#feat-img:hover {
    color: #ff4c68;
}

.features-text {
    color: #8f8f8f;
    font-weight: 400;
    width: auto;
}

.feature-title {
    font-size: 1.5rem;
}

/* Testimonials Section */

#testimonials {
    background-color: #ef8172;
    color: #ffffff;
    z-index: 1;
    position: relative;
}

#test-loc {
    font-size: 1.5rem;
}

.testimonial-image {
    width: 15%;
    border-radius: 100%;
    margin: 20px;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.carousel-item {
    padding: 7% 15%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    /* Use to adjust size of icons */
    width: 2rem;
    height: 2rem;
}
/* Press Logos */

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-images {
    width: 15%;
    margin: 20px 20px 50px;
    filter: grayscale(100%) brightness(500%);
}

/* Pricing Section */

#pricing {
    padding: 100px;
}

.pricing-column {
    padding: 3% 2%;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

/* Call to Action Portion */
#cta {
    background-color: #ff4c68;
    padding: 7%;
}

/* Footer */

#footer {
    background-color: white;
    padding: 7%;
}

.copyright {
    color: #8f8f8f;
    font-size: 1.15rem;
    padding-top: 1.2rem;
}

.social-ico {
    color: #15202b;
    font-size: 22px;
    margin: 14px;
}

.social-ico:hover {
    text-decoration: none;
    color: inherit;
}

.btn2 {
    margin-top: 2%;
}

/* Media Query of the title page on mobile devices */
@media (max-width: 992px) {
    .rotated-img {
        /* Allow the position of the phone image to be back into the flow of the HTML
        page (static positioning!) */
        position: static;
        transform: rotate(0);
        margin-top: 50px;
    }

    #title {
        text-align: center;
    }
}
